.menu { 
	background-color: black;
	width: 100%;
	height: 45px;
	
}
.menu li{ 
	float: left;
    list-style: none;
    color: white;
	padding-right: 40px;
	line-height: 40px;	
	margin-left: 3%;
}
/*ここから左部分*/
main{ 
	clear:both
}
.main-container{ 
	width:95%;
	margin: 0 auto;
	margin-top: 70px;

}
h5{
	border-left: 4px red solid;
	font-size: 25px;
}
form{
	margin: 0 auto;
	background-color: lightgrey;
	border: 3px #ebebeb solid;
	border-radius: 10px;
	width: 1100px;
	font-size: 20px;
	padding-left: 10px;
	margin-bottom: 15px;
}

.text,textarea,dropdown{
	border: 1px solid #dfdfdf;
	padding: 5ps;
	color: #999;
	background-color: #fff;
}

.submit{
	border: 1px solid　litegray;
	padding: 4px 10px;
	color: white;
	background-color: #bfbfbf;
	border-radius: 5px;
	border-bottom: solid 2px gray;
}

.kiji{
		margin: 0 auto;
	background-color: lightgrey;
	border: 3px #ebebeb solid;
	border-radius: 10px;
	width: 1100px;
	font-size: 20px;
	padding-left: 10px;
}

.left{ 
	float:left;
	width:80%;
	margin-bottom: 40px;
}

.h1{ 
	font-size: 40px;	
	margin-top: 0PX;
	width:1100px;
	border-left: 5px solid black;
	 border-bottom: 3px solid gray;
	margin-left: 1%;
	font-weight: bold;
}

/*ここから右側*/
.right{ 
	float: left;
	width: 20%;
	margin-top: 20px;

		}
.osusume{ 
	font-size: 28px;
	font-weight: bold;
	border-bottom: 1px dashed black; 
		
	}
.right li{ 
	font-size: 17px;
	list-style: none;
	line-height: 20px;
}
footer { 
	clear:left;
	margin-top: 60px;
	width:100%;
	height:60px;
	color:white;
	background-color: black;
	text-align: center;
	line-height: 60px;
}

